/* HTML
*
*   The size of the text added to the html tag plays the role of value relative to the dimensions of the different contents of the page.
*   Modifying this size can thus modify the structure of the whole page, without having to individually modify the dimensions of the different elements of the page.
*
*/

html {
    font-size: 1vw;
}

/*  BODY 
*
*   We removed the margins associated with this tag, as they prevented the page content from taking up the full width of the screen.
*
*/

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 0.9rem;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: #999;
}

input[type=text],
input[type=password],
select {
    border: 0.1rem solid #cccccc;
    border-radius: 0.35rem;
    color: #444444;
    font-size: 0.8rem;
    padding: 0 0 0 1rem;
}

select {
    cursor: pointer;
}

input[type=checkbox] {
    width: 1rem;
    height: 1rem;
}

::placeholder {
    color: #cdcdcd;
}

button,
input[type=checkbox] {
    cursor: pointer;
}

button {
    font-size: 0.9rem;
}

.page-container {
    animation: page 0ms 1700ms both;
    z-index: 5;
}

@keyframes page{
    0% {
        transform: translateX(-9999px);
    }
    100% {
        transform: translateX(0);
        }
    }